body {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  /* background-image: url('../assets/bg.jpg'); */
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
  transform:scale(0.9);
}

@media only screen and (max-width: 1200px) {
  body {
    /* background-image: url('../assets/bg_small.jpg'); */
  }
}

.ha {
  font-family: 'Kaushan Script', cursive;
  font-size: 5vw;
  margin-left: 10px;
  margin-right: 10px;
}

#title-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0;
  padding:0;
}

#hello {
  display: inline;
  color: gold;
}

#hello:hover {
  transform: scale(1.3);
}

#aderant {
  display: inline;
  color: orangered;
}

#aderant:hover {
  transform: scale(1.3);
}

#reels {
  /* display: flex; */
  display: -webkit-flex;
  display: flex;
  position: relative;
  width: 100vw;
  height: calc((3 / 7) * 100vw);
  max-height: calc(90vh - 50px);
  max-width: calc((7 / 3) * (90vh - 50px));  
  margin:0;
  padding:0;
}

.reel {
  /* display:absolute; */
  overflow: hidden;
  width: 20%;
  height: 100%;
  border-style:groove;
  border-color: red ;
  border-width: medium;
  -webkit-flex: 1;
  flex: 1;
  z-index: 1;
  margin:0;
  padding:0;
}

.top-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 33.3333%;
  background-color: grey;
  opacity: 0.7;
  z-index: 10;
  margin:0;
  padding:0;
}

.bottom-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 33.3333%;
  background-color: grey;
  opacity: 0.7;
  z-index: 10;
  margin:0;
  padding:0;
}

#spin {
  width: 20%;
}

#balance {
  width: 15%;
}

#value {
  font-weight:bold;
}

.reel > .icons > img {
  width: calc(100% + 6px);
  margin: -3px 0 0 -3px;
  height: auto;
}

#controls {
  background-color: rgba(255, 255, 255, 0.9);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
}

#controls label {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

#controls label input {
  margin-right: 5px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

#slot.inverted .reel {
  transform: scaleY(-1);
}

#slot.inverted .reel > .icons > img {
  transform: scaleY(-1);
}
